* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #23282d;
}
form {
  background-color: #f1f1f1;
  color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
  color: #23282d;
  text-decoration: none;
}
a:hover {
  color: #23282d;
  text-decoration: underline;
}
h1 {
  font-weight: bolder;
  text-align: center;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;

  background: #f1f1f1;
}
input[type="text"]:hover,
input[type="password"]:hover {
  border-color: black;
  background-color: whitesmoke;
}
#email-error,
#password-error {
  color: #ee0000;
  padding-bottom: 20px;
}
.error {
  color: #ee0000;
  padding-bottom: 20px;
}
.input-error {
  border: 1px solid #ee0000;
  border-color: #ee0000;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: whitesmoke;
  border-color: #f1f1f1;
  color: red;
  border-radius: 10px;
}
.cancelbtn:hover {
  background-color: red;
  color: white;
}
 .submitbtn:hover {
  background-color: #23282de3;
  color: white;
}
 .submitbtn {
  padding: 14px 20px;
  background-color: black;
  border-color: #f1f1f1;
  color: white;
  border-radius: 10px;
}
 .submitbtn{
  float: center;
  width: 50%;
}

.container {
  padding: 16px;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

p {
  color: whitesmoke;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.note {
  color: #23282d;
}
