<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="../../public/user.css" />
</head>
<body>

  <h1>You have been logged out</h1>
  <a class="home" href="/">Back to login</a>

</body>